DB_NAME=db_name
DB_USER=db_user_name
DB_PASSWORD=password
DB_HOST=host
DB_PORT=15432

# size limit(in binary notation) for file upload - 100*1024*1024 bytes = 100MB
FILE_SIZE_LIMIT=104857600

BUILD_MODE=LOCAL
BASE_URL=http://127.0.0.1:8000/dropbox/api/v1

# google cloud storage creds
GS_BUCKET_NAME=bucket_name
GOOGLE_APPLICATION_CREDENTIALS=path_to_creds_file